@charset "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=PT+Sans');

body{
	margin: 0;	
}
nav{
	background-color: #262d38;
	box-shadow: 1px 3px 3px 0px #0B8DAA; 
	z-index: 1;
}
.logo{
	font-size: 1.25rem;
	font-weight: 900;
	display: inline-block;
	color: #FFFFFF;
	position: relative;	
	font-family: 'PT Sans', sans-serif;	
}
.logo:before{
    content: "";
    position: absolute;
    width: 25%;
    height: 1px;
    border-bottom: 5px solid #0B8DAA;
}
.logo:after{
	width: 0;
	height: 0;
	border: 30px solid #0B8DAA;
	
}
a{
	text-decoration: none;
	color: #485969;

	padding-left: 2rem;
	padding-right: 2rem;
	font-family: 'PT Sans', sans-serif;	
}
#sidebar{
	height: 100%;
	margin: 0;
	background-color: #00BCD4/*#0B8DAA*/; 
}
#pane{
	margin: 0;
	padding: 0;
	height: auto;
}
.sidebar{
	width: 100%;
	margin: 0;
	padding: 0;
	height: 570px;
	background-color: #2B333E;/*20262d*/
}
.sidebar li{
	padding-top: 25px;
	list-style-type: none;
}
.sidebar a{
	text-decoration: none;
	color: #676A6D;
}
.sidebar a:hover{
	text-decoration: none;
}
.sub-list{
	background-color: #3a4554;
	margin: 0;
	padding: 0;
}
.sub-list li {
	padding-left: 10px;
}

iframe{
	border: 0;
	width: 100%;
	height: 100%;
}